<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.weicong.uas.mapper.SysUserMapper">

	<sql id="userSql">
		id,
		username,
		password,
		phone,
		head,
		wx_openid,
		qq_openid,
		creator
	</sql>

	<select id="selectByUsername"
		resultType="org.weicong.uas.entity.SysUser">
		SELECT
		<include refid="userSql" />
		FROM sys_user
		<where>
			<if test="username != null and username != ''">
				AND username = #{username}
			</if>
		</where>
	</select>

	<select id="selectByPhone"
		resultType="org.weicong.uas.entity.SysUser">
		SELECT
		<include refid="userSql" />
		FROM sys_user
		<where>
			<if test="phone != null and phone != ''">
				AND phone = #{phone}
			</if>
		</where>
	</select>

	<select id="selectByQQOpenid"
		resultType="org.weicong.uas.entity.SysUser">
		SELECT
		<include refid="userSql" />
		FROM sys_user
		<where>
			<if test="qqOpenid != null and qqOpenid != ''">
				AND qq_openid = #{qqOpenid}
			</if>
		</where>
	</select>

	<select id="selectByWXOpenid"
		resultType="org.weicong.uas.entity.SysUser">
		SELECT
		<include refid="userSql" />
		FROM sys_user
		<where>
			<if test="wxOpenid != null and wxOpenid != ''">
				AND wx_openid = #{wxOpenid}
			</if>
		</where>
	</select>
</mapper>
